* {
  background-color: gold;
}

html {
  text-align: center;
  font-size: 2em;
}

button {
  font-size: 2em;
  color: white;
  background-color: red;
  padding: 15px;
  border-radius: 5%;
}

button:focus {
  background-color: blue;
}